<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @ticket.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ticket.destination %>
</p>

<p>
  <strong>Transportation type:</strong>
  <%= @ticket.transportation_type %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @ticket.transportation_id %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @ticket.seat %>
</p>

<p>
  <strong>Extra information:</strong>
  <%= @ticket.extra_information %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
